* {
  margin: 0;
  padding: 0; 
}

body {
  background-color: #B1C5F0;
}

#end {
  display: block;
  clear: both;
}
/* ------------- HEADER ------------- */

header {
padding: 25px 0px 50px;
background-color: #5C6087;
}

header > nav > li {
  display: inline-block;
  margin-right: 100px;
}

header > nav {
  border: 0.5px solid black;
  text-align: center;
  background-color: #B592A0;
}

header > h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

/* -------------FIM HEADER--------------- */

/* --------------- MAIN ------------------- */

main {
  width: 86.2%;
}

.fatosP {
  width: calc(69% - 2px);
  min-width: 433px;
  float: left;
  padding-left: 10px;
  padding-bottom: 15px;
  background-color: #92BDA3;
}

.fatosP h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
  text-decoration: underline;
}

.fatosP li {
  padding-left: 40px;
  padding-right: 30px;
  line-height: 20px;
  padding-top: 5px;
}

.painelSobre {
  width: calc(20% - 2px);
  min-width: 180px;
  float: left;
  border: 2px solid black;
  max-width: 235px;
  background-color: #9DCCB0;
}

.painelSobre > section > table > caption > h5 {
  text-align: center;
  text-decoration: underline;
}

#tabelaSobre {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 30%;
}

.painelSobre > section > p {
  font-size: 14px;
  text-align: center;
}

.painelSobre > picture > img {
  width: 99%;
  border: 1px solid black;
}

.fatosDs {
  float: left;
  padding-bottom: 35px;
  width: 100%;
  max-width: 1075px;
  background-color: #829ACF;
}

.fatoD {
  border: 1px solid black;
  width: calc(44% - 2px);
  float: left;
  margin-left: 4.1%;
  margin-top: 10px;
  background-color: #9BB4EB;
}

.fatoD > h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration-line: underline;
}

.fatoD > p {
  padding-left: 15px;
  padding-right: 10px;
  line-height: 20px;
  padding-bottom: 10px;
}
/* -------------- FIM MAIN --------------- */

/* ---------------- ASIDE --------------- */

body > aside {
  width: calc(10% - 8px);
  background-color: #65E0C2;
  position: fixed;
  margin-left: 90%;
  border: 2px solid green;
  height: 65%;
}
body > aside > nav > h4 {
  font-size: 13.8px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
body > aside > nav > ul > li {
  list-style: none;
  padding-bottom: 15px;
  margin-left: 13px;
}

/* -------------- FIM ASIDE ------------- */

/* ---------------- FOOTER ----------------- */

footer {
  clear: both;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  padding-left: 76.708%;
  background-color: paleturquoise;
}

/* --------------- FIM FOOTER -------------- */