.card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.card > * {
  margin-top: 5px;
}

.card > img {
  margin-top: 0;
}
