* {
  margin: 0 0;
  padding: 0 0;
}

.inputColor {
  height: 20px;
  width: 16px;
  border: none;
  background-color: white;
  display: inline-block;
  margin: 0 0;
}

.labels {
  display: block;
  padding-left: 10px;
  font-size: 13px;
  font-family: monospace;
  line-height: 20px;
}

.labelColor {
  display: inline;
}

body input {
  margin: 5px 0px 5px 10px;
}

body main {
  text-align: center;
  width: 80%;
  margin: 10px auto;
}

#labelUserText {
  display: inline-block;
  padding-top: 50px;
  text-align: center;
  width: 100%;
  font-family: monospace;
}

#inputUserText {
  width: 80%;
  margin: 5px calc(10% - 1.8px) 50px;
}
